.esi-form {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 650px;

    &__f-btn {
        width: 154px;
        height: 35px;
        background-color: #36a9e1;
        border: 1px solid #36a9e1;
        border-radius: 5px;
        color: #ffffff;
        margin-top: 18px;
        cursor: pointer;
    }
}
